.circle {
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50%;
    cursor: pointer;
    border: dashed 10px rgba(0, 0, 0, .2);
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    cursor: pointer;
    border: solid 10px #75ae35;
    margin-top: 50px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .2);
}